.casino .game-list .evQOJh {
    width: calc(100% / 7);
}

.load-more {
    cursor: pointer;
    user-select: none;
    border-radius: 100px;
    margin: 0 auto;
    background: none;
    outline: none;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.4em;
    line-height: 1.2;
    letter-spacing: 0.05em;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    border-width: 2px;
    border-style: solid;
    color: #7BF037;
    background-color: #171717;
    border-color: #7BF037;
    box-shadow: none;
    padding: 1rem 3rem;
    display: inline-block;
    margin-bottom: 20px;
}

.load-more:hover {
    color: #7BF037;
    background-color: #424242ff;
    border-color: #b0f687ff;
    box-shadow: none;
}

#splash-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background-image: url(data:image/gif;base64,R0lGODlhiQbXAZEAAAAAAP///////wAAACH5BAEAAAIALAAAAACJBtcBAAL/lI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubq7vL2+v7CxwsPExcbHyMnKy8zNzs/AwdLT1NXW19jZ2tvc3d7f0NHi4+Tl5ufo6err7O3u7+Dh8vP09fb3+Pn6+/z9/v/w8woMCBBAsaPIgwocKFDBs6fAgxosSJFCtavIgxo8aN/xw7evwIMqTIkSRLmjyJMqXKlSxbunwJM6bMmTRr2ryJM6fOnTx7+vwJNKjQoUSLGj2KNKnSpUybOn0KNarUqVSrWr2KNavWrVy7ev0KNqzYsWTLmj2LNq3atWzbun0LN67cuXTr2r2LN6/evXz7+v0LOLDgwYQLGz6MOLHixYwbO34MObLkyZQrW76MObPmzZw7e/4MOrTo0aRLmz6NOrXq1axbu34NO7bs2bRr276NO7fu3bx7+/4NPLjw4cSLGz+OPLny5cybO38OPbr06dSrW7+OPbv27dy7e/8OPrz48eTLmz+PPr369ezbu38PP778+fTr27+PP7/+/fz7+///D2CAAg5IYIEGHohgggouyGCDDj4IYYQSTkhhhRZeiGGGGm7IYYcefghiiCKOSGKJJp6IYooqrshiiy6+CGOMMs5IY4023ohjjjruyGOPPv4IZJBCDklkkUYeiWSSSi7JZJNOPglllFJOSWWVVl6JZZZabslll15+CWaYYo5JZplmnolmmmquyWabbr4JZ5xyzklnnXbeiWeeeu7JZ59+/glooIIOSmihhh6KaKKKLspoo44+Cmmkkk5KaaWWXopppppuymmnnn4Kaqiijkpqqaaeimqqqq7KaquuvgprrLLOSmuttt6Ka6667sprr77+Cmywwg5LbLHGHotsssr/Lstss84+C2200k5LbbXWXottttpuy2233n4Lbrjijktuueaei2666q7LbrvuvgtvvPLOS2+99t6Lb7767stvv/7+C3DAAg9McMEGH4xwwgovzHDDDj8MccQST0xxxRZfjHHGGm/McccefwxyyCKPTHLJJp+Mcsoqr8xyyy6/DHPMMs9Mc80234xzzjrvzHPPPv8MdNBCD0100UYfjXTSSi/NdNNOPw111FJPTXXVVl+NddZab811115/DXbYYo9Ndtlmn4122mqvzXbbbr8Nd9xyz0133XbfjXfeeu/Nd99+/w144IIPTnjhhh+OeOKKL854444/Dnnkkk9OeeWW/1+Oeeaab855555/Dnrooo9Oeummn4566qqvznrrrr8Oe+yyz0577bbfjnvuuu/Oe+++/w588MIPT3zxxh+PfPLKL898884/D3300k9PffXWX4999tpvz3333n8Pfvjij09++eafj3766q/Pfvvuvw9//PLPT3/99t+Pf/76789///7/D8AACnCABCygAQ+IwAQqcIEMbKADHwjBCEpwghSsoAUviMEManCDHOygBz8IwhCKcIQkLKEJT4jCFKpwhSxsoQtfCMMYynCGNKyhDW+IwxzqcIc87KEPfwjEIApxiEQsohGPiMQkKnGJTGyiE58IxShKcYpUrKIVr4jFLMtqcYtc7KIXvwjGMIpxjGQsoxnPiMY0qnGNbGyjG98IxzjKcY50rKMd74jHPOpxj3zsox//CMhACnKQhCykIQ+JyEQqcpGMbKQjHwnJSEpykpSspCUviclManKTnOykJz8JylCKcpSkLKUpT4nKVKpylaxspStfCctYynKWtKylLW+Jy1zqcpe87KUvfwnMYApzmMQspjGPicxkKnOZzGymM58JzWhKc5rUrKY1r4nNbGpzm9zspje/Cc5winOc5CynOc+JznSq04kFAAA7);
    background-color: rgb(23, 23, 23);
    background-repeat: no-repeat;
}

.splash-brand {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 767px) {
    .casino .game-list .evQOJh {
        width: calc(100% / 3 - 8px);
        margin-bottom: 10px;
    }
}

.gaming-history-page .sc-lgGbPx,
.jackpot-bet-gaming-history-page .kmfOzj,
.session-history-page .kmfOzj,
.games-open-sessions-page .kmfOzj {
    padding-bottom: 0;
}

.gaming-history-page .sc-ijKvfC,
.jackpot-bet-gaming-history-page .gUbcNA,
.session-history-page .gUbcNA,
.games-open-sessions-page .gUbcNA {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #7BF037, #FCE523);
}

.kacfn {
    padding-bottom: calc(200 / 1750 * 100%);
}

.gnweDQ {
    position: relative;
    width: 100%;
    -webkit-transition: all 0.03s ease-in-out;
    transition: all 0.03s ease-in-out;
    padding-bottom: calc(200 / 1750 * 100%);
}

.cvyYUQ {
    background-color: #0d0d0d;
    background-image: linear-gradient(180deg, #1A1A1A 74.08%, #282828 100%);
    background-attachment: fixed;
}

.dTlmsD {
    background-color: #212121;
    min-height: 785px;
}

.fwLZFs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.hbjpRY {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-family: "888-Orbit", verdana, sans-serif;
    color: #ffffff;
    font-size: 2rem;
    margin: 0;
}

.klLChX {
    min-height: 200px;
}

.kfAfmA {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 400;
    font-weight: 400;
    background-color: #171717;
    color: #ffffff;
    font-size: 15px;
    padding: 4rem;
}

.cfvLht {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.table-history-container {
    padding: 3rem;
}

.table-history-container .table-fixed {
    table-layout: fixed;
}

.table-history-container .text-md {
    font-size: 1.5rem;
}

.first-of-type\:pr-4:first-of-type,
.last-of-type\:pr-4:last-of-type {
    padding-right: 1rem;
}

@media (min-width: 1200px) {
    .lg\:text-sm {
        font-size: .875rem;
    }
}

@media (min-width: 1200px) {
    .lg\:text-sm {
        font-size: .75rem;
        line-height: 1;
    }
}

@media (min-width: 1200px) {
    .lg\:font-bold {
        font-weight: 700;
    }
}

@media (min-width: 1200px) {
    .lg\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem;
    }
}


.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.\!leading-tight {
    line-height: 1.25 !important;
}

.\!leading-normal {
    line-height: 1.5 !important;
}

.font-normal {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.divide-dark-grey-700>:not([hidden])~:not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgb(43 43 43 / var(--tw-divide-opacity, 1));
}
.divide-y>:not([hidden])~:not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
    border-top-width: calc(1px * (1 - var(--tw-divide-y-reverse)));
}

.first-of-type\:pr-4:first-of-type, .last-of-type\:pr-4:last-of-type {
    padding: 1rem;
}

.page-item.active {
    background-color: #7BF037;
    border-color: #7BF037;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    color: #000;
    font-size: 1.5rem;
}

.page-item {
    color: #fff;
    font-size: 1.5rem;
    width: 29px;
    height: 29px;
    cursor: pointer;
    margin: 0 10px;
    font-weight: bold;
}

.page-link {
    cursor: pointer;
}

@media (max-width: 767px) {
    .table-history-container {
        padding: 1rem;
    }

    .table-history-container .table-fixed {
        table-layout: auto
    }

    .table-history-container .text-md {
        font-size: 12px;
    }

    .table-history-container .py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}