.cta-template a {
    word-wrap: break-word;
    border-radius: 5rem;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    justify-content: center;
    letter-spacing: .05em;
    line-height: 1;
    min-width: 10pc;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: all;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    word-break: break-word
}

.cta-template.cta-primary a {
    background: #7ff800;
    border: 2px solid #7ff800;
    color: #000;
    font-size: 1.5rem;
    text-decoration: none
}

.cta-template.cta-primary a:focus,.cta-template.cta-primary a:hover {
    background: #000;
    color: #7ff800
}

@media(hover: hover) {
    .cta-template.cta-primary a:focus,.cta-template.cta-primary a:hover {
        background:#000;
        color: #7ff800
    }
}

.cta-template.cta-primary-v2 a {
    background: #000;
    border: 2px solid #7ff800;
    color: #7ff800;
    font-size: 1.5rem;
    text-decoration: none
}

.cta-template.cta-primary-v2 a:focus,.cta-template.cta-primary-v2 a:hover {
    background: #7ff800;
    color: #000
}

@media(hover: hover) {
    .cta-template.cta-primary-v2 a:focus,.cta-template.cta-primary-v2 a:hover {
        background:#7ff800;
        color: #000
    }
}

.cta-template.cta-primary-v3 a {
    background: #212121;
    border: 2px solid #7ff800;
    color: #7ff800;
    font-size: 1.5rem;
    text-decoration: none
}

.cta-template.cta-primary-v3 a:focus,.cta-template.cta-primary-v3 a:hover {
    background: #7ff800;
    color: #000
}

@media(hover: hover) {
    .cta-template.cta-primary-v3 a:focus,.cta-template.cta-primary-v3 a:hover {
        background:#7ff800;
        color: #000
    }
}

.cta-template.cta-secondary a {
    background: #fce403;
    border: 2px solid #fce403;
    color: #000;
    font-size: 1.5rem;
    text-decoration: none
}

.cta-template.cta-secondary a:focus,.cta-template.cta-secondary a:hover {
    background: #000;
    color: #fce403
}

@media(hover: hover) {
    .cta-template.cta-secondary a:focus,.cta-template.cta-secondary a:hover {
        background:#000;
        color: #fce403
    }
}

.cta-template.cta-outline a {
    background: #212121;
    border: 2px solid #7ff800;
    color: #7ff800;
    font-size: 1.5rem;
    text-decoration: none
}

.cta-template.cta-outline a:focus,.cta-template.cta-outline a:hover {
    background: #4c4c4c;
    color: #7ff800
}

@media(hover: hover) {
    .cta-template.cta-outline a:focus,.cta-template.cta-outline a:hover {
        background:#4c4c4c;
        color: #7ff800
    }
}

.cta-template.cta-secondary-variant-1 a {
    background: #fce403;
    border: 2px solid #fded59;
    color: #000;
    font-size: 1.5rem;
    text-decoration: none
}

.cta-template.cta-secondary-variant-1 a:focus,.cta-template.cta-secondary-variant-1 a:hover {
    background: #fded59;
    color: #000
}

@media(hover: hover) {
    .cta-template.cta-secondary-variant-1 a:focus,.cta-template.cta-secondary-variant-1 a:hover {
        background:#fded59;
        color: #000
    }
}

.cta-template.cta-secondary-variant-2 a {
    background: #fce403;
    border: 2px solid #fce403;
    color: #000;
    font-size: 1.6rem;
    text-decoration: none
}

.cta-template.cta-secondary-variant-2 a:focus,.cta-template.cta-secondary-variant-2 a:hover {
    background: #81fe00;
    color: #000
}

@media(hover: hover) {
    .cta-template.cta-secondary-variant-2 a:focus,.cta-template.cta-secondary-variant-2 a:hover {
        background:#81fe00;
        color: #000
    }
}

.cta-template.cta-secondary-variant-2:hover {
    transform: scale(1.05);
    transition: all .2s ease-in-out
}

.cta-template.cta-secondary-variant-3 a {
    background: #fc6200;
    border: 2px solid #fc6200;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none
}

.cta-template.cta-secondary-variant-3 a:focus,.cta-template.cta-secondary-variant-3 a:hover {
    background: #000;
    color: #fc6200
}

@media(hover: hover) {
    .cta-template.cta-secondary-variant-3 a:focus,.cta-template.cta-secondary-variant-3 a:hover {
        background:#000;
        color: #fc6200
    }
}

.cta-template.cta-secondary-variant-4 a {
    background: #007cf7;
    border: 2px solid #007cf7;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none
}

.cta-template.cta-secondary-variant-4 a:focus,.cta-template.cta-secondary-variant-4 a:hover {
    background: #fff;
    color: #007cf7
}

@media(hover: hover) {
    .cta-template.cta-secondary-variant-4 a:focus,.cta-template.cta-secondary-variant-4 a:hover {
        background:#fff;
        color: #007cf7
    }
}

.cta-template.cta-simple a {
    background: #0b0b0b;
    border: 2px solid #686767;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none
}

.cta-template.cta-simple a:focus,.cta-template.cta-simple a:hover {
    background: #0b0b0b;
    color: #fff
}

@media(hover: hover) {
    .cta-template.cta-simple a:focus,.cta-template.cta-simple a:hover {
        background:#0b0b0b;
        color: #fff
    }
}

.cta-template.cta-simple a {
    line-height: 1.5;
    min-width: fit-content
}

.cta-template.cta-gold a {
    background: #181b20;
    border: 2px solid #aa9a4c;
    color: #aa9a4c;
    font-size: 1.1rem;
    text-decoration: none
}

.cta-template.cta-gold a:focus,.cta-template.cta-gold a:hover {
    background: #aa9a4c;
    color: #181b20
}

@media(hover: hover) {
    .cta-template.cta-gold a:focus,.cta-template.cta-gold a:hover {
        background:#aa9a4c;
        color: #181b20
    }
}

.cta-template.cta-gold a {
    line-height: 2.15
}

.cta-template.cta-silver a {
    background: #14171c;
    border: 2px solid #94979c;
    color: #94979c;
    font-size: 1.1rem;
    text-decoration: none
}

.cta-template.cta-silver a:focus,.cta-template.cta-silver a:hover {
    background: #94979c;
    color: #14171c
}

@media(hover: hover) {
    .cta-template.cta-silver a:focus,.cta-template.cta-silver a:hover {
        background:#94979c;
        color: #14171c
    }
}

.cta-template.cta-silver a {
    line-height: 2.15
}

.cta-template.cta-glow a {
    background: #fce403;
    border: 2px solid #fce403;
    color: #000;
    font-size: 1.44rem;
    text-decoration: none
}

.cta-template.cta-glow a:focus,.cta-template.cta-glow a:hover {
    background: #000;
    color: #fce403
}

@media(hover: hover) {
    .cta-template.cta-glow a:focus,.cta-template.cta-glow a:hover {
        background:#000;
        color: #fce403
    }
}

.cta-template.cta-glow a {
    animation: glowing .9s infinite alternate
}

.cta-template.cta-animated-color a {
    background: #fce403;
    border: 2px solid #fce403;
    color: #000;
    font-size: 1.6rem;
    text-decoration: none
}

.cta-template.cta-animated-color a:focus,.cta-template.cta-animated-color a:hover {
    background: #000;
    color: #fce403
}

@media(hover: hover) {
    .cta-template.cta-animated-color a:focus,.cta-template.cta-animated-color a:hover {
        background:#000;
        color: #fce403
    }
}

.cta-template.cta-animated-color a {
    animation: color-rotation 3s linear infinite;
    animation-delay: .3s
}

.cta-padding-small,.cta-template.cta-simple a {
    padding: .4rem 1.6rem
}

.cta-padding-default,.cta-template.cta-animated-color a,.cta-template.cta-glow a,.cta-template.cta-gold a,.cta-template.cta-outline a,.cta-template.cta-primary a,.cta-template.cta-primary-v2 a,.cta-template.cta-primary-v3 a,.cta-template.cta-secondary a,.cta-template.cta-secondary-variant-1 a,.cta-template.cta-secondary-variant-2 a,.cta-template.cta-secondary-variant-3 a,.cta-template.cta-secondary-variant-4 a,.cta-template.cta-silver a {
    padding: .8rem 4rem
}

@keyframes glowing {
    to {
        box-shadow: 0 0 20px 5px #fce403
    }
}

@keyframes color-rotation {
    0% {
        filter: hue-rotate(0deg)
    }

    50% {
        filter: hue-rotate(25deg)
    }
}

.cta-template.cta-wide-size a {
    line-height: 1.5;
    min-width: 290px;
    padding: .9rem 0
}

.cta-template.cta-medium-size a {
    line-height: 1.5;
    max-width: 290px;
    min-width: 10pc;
    padding: .9rem 0
}

.cta-template.cta-medium-size a span {
    margin: 0 20px
}

.cta-template.cta-fullwidth-size,.cta-template.cta-fullwidth-size a {
    font-size: 2.3rem;
    line-height: 2;
    width: 100%
}

.rich-text-component {
    word-break: break-word
}

.rich-text-component p {
    margin-bottom: 10px
}

.rich-text-component select {
    background: transparent;
    color: #fff
}

.rich-text-component .text {
    font-size: 15px;
    font-weight: 600
}

.rich-text-component .text h2 {
    color: #7ffc02;
    font-family: "888-Bold",verdana,sans-serif;
    font-size: 1.6em;
    margin: 0;
    padding: 20px 0 10px;
    text-transform: uppercase
}

.rich-text-component .text ul li:before {
    color: #fff
}

.rich-text-component .text h3 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: .1em;
    margin-top: 1em
}

.rich-text-component .text .Table {
    overflow-x: auto
}

.rich-text-component .text .TableList,.rich-text-component .text .table-wrapper {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    font-size: smaller;
    overflow-x: auto;
    text-indent: 0;
    width: auto
}

.rich-text-component .text .TableList tbody,.rich-text-component .text .table-wrapper tbody {
    background-color: transparent;
    border: none
}

.rich-text-component .text .TableList tbody tr:nth-of-type(odd),.rich-text-component .text .table-wrapper tbody tr:nth-of-type(odd) {
    background: #717171
}

.rich-text-component .text .TableList tbody tr th,.rich-text-component .text .table-wrapper tbody tr th {
    border: 0;
    font-size: 15px;
    padding: 1rem 2rem 1rem 1.2rem;
    text-align: left;
    word-break: keep-all
}

@media screen and (max-width: 640px) {
    .rich-text-component .text .TableList tbody tr th,.rich-text-component .text .table-wrapper tbody tr th {
        font-size:11px;
        padding: 5px
    }
}

@media screen and (max-width: 414px) {
    .rich-text-component .text .TableList tbody tr th,.rich-text-component .text .table-wrapper tbody tr th {
        font-size:8px;
        padding: .5rem .2rem
    }
}

.rich-text-component .text .TableList tbody tr td,.rich-text-component .text .table-wrapper tbody tr td {
    border: 1px solid transparent;
    min-width: 55px;
    padding: 1rem 2rem 1rem 1.2rem;
    text-align: left;
    word-break: keep-all
}

@media screen and (max-width: 640px) {
    .rich-text-component .text .TableList tbody tr td,.rich-text-component .text .table-wrapper tbody tr td {
        font-size:11px;
        padding: .5rem
    }
}

@media screen and (max-width: 414px) {
    .rich-text-component .text .TableList tbody tr td,.rich-text-component .text .table-wrapper tbody tr td {
        font-size:9px;
        padding: .5rem
    }
}

.rich-text-component .text .TableList tbody tr td b,.rich-text-component .text .TableList tbody tr td strong,.rich-text-component .text .table-wrapper tbody tr td b,.rich-text-component .text .table-wrapper tbody tr td strong {
    font-size: inherit;
    text-transform: uppercase
}

.rich-text-component .text .TableList tbody tr td:nth-of-type(2n),.rich-text-component .text .table-wrapper tbody tr td:nth-of-type(2n) {
    color: #fde500
}

.rich-text-component .text .TableList tbody tr:nth-child(2n),.rich-text-component .text .table-wrapper tbody tr:nth-child(2n) {
    background-color: transparent
}

@media only screen and (max-width: 820px) {
    .rich-text-component .text .TableList,.rich-text-component .text .table-wrapper {
        width:100%
    }

    .rich-text-component .text .TableList p,.rich-text-component .text .TableList td,.rich-text-component .text .table-wrapper p,.rich-text-component .text .table-wrapper td {
        font-size: 1.6rem;
        font-weight: 600
    }
}

@media only screen and (max-width: 640px) {
    .rich-text-component .text .TableList,.rich-text-component .text .table-wrapper {
        width:100%
    }

    .rich-text-component .text .TableList p,.rich-text-component .text .TableList td,.rich-text-component .text .table-wrapper p,.rich-text-component .text .table-wrapper td {
        font-size: .9rem;
        font-weight: 600;
        line-height: 1.2rem
    }
}

@media only screen and (min-width: 640px) {
    .rich-text-component .text .TableList p,.rich-text-component .text .TableList td,.rich-text-component .text .table-wrapper p,.rich-text-component .text .table-wrapper td {
        font-size:1.5rem;
        font-weight: 600
    }
}

@media(min-width: 640px)and (max-width:844px)and (orientation:landscape) {
    .rich-text-component .text .TableList,.rich-text-component .text .table-wrapper {
        width:100%
    }

    .rich-text-component .text .TableList,.rich-text-component .text .table-wrapper * {
        word-break: break-word
    }
}

.rich-text-component .modal-enabled:hover:before {
    border-radius: 19.2rem
}

.rich-text-component .text ul li ul {
    display: block
}

.top-banner-component {
    display: flex;
    font-size: 10px;
    height: 28em;
    min-height: 21em!important;
    overflow: hidden;
    padding: 1em;
    position: relative
}

@media(max-width: 501px) {
    .top-banner-component {
        height:21em!important
    }
}

@media(max-width: 1280px) {
    .top-banner-component {
        height:28em
    }
}

.top-banner-component .image-container {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
}

.top-banner-component .image-container .display-mobile {
    display: block;
    height: 100%;
    object-position: center;
    width: 100%;
    object-fit: cover;
}

@media(min-width: 501px) {
    .top-banner-component .image-container .display-mobile {
        display:none
    }
}

.top-banner-component .image-container .display-tablet {
    /* display: none */
}

@media(min-width: 501px)and (max-width:1279px) {
    .top-banner-component .image-container .display-tablet {
        display:block;
        height: 100%;
        object-fit: cover;
        object-position: top;
        width: 100%
    }
}

.top-banner-component .image-container .display-pc {
    display: none
}

@media(min-width: 1280px) {
    .top-banner-component .image-container .display-pc {
        display:block;
        height: 100%;
        object-fit: cover;
        width: 100%
    }
}

@media only screen and (max-width: 1366px) {
    .top-banner-component .image-container .display-pc {
        object-position:40%
    }
}

@media only screen and (max-width: 1024px)and (orientation:landscape) {
    .top-banner-component .image-container img {
        object-position:52%!important
    }
}

.top-banner-component .content-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 26em;
    justify-content: flex-start;
    max-width: 60%;
    padding: .5em .5em .5em 1em;
    z-index: 50
}

.top-banner-component .content-info.no-marginLeft {
    margin-left: 37px
}

@media(max-width: 768px) {
    .top-banner-component .content-info.no-marginLeft {
        margin-left:0
    }
}

.top-banner-component .content-info.small-marginLeft {
    margin-left: 75pt
}

@media(max-width: 768px) {
    .top-banner-component .content-info.small-marginLeft {
        margin-left:20px
    }
}

.top-banner-component .content-info.medium-marginLeft {
    margin-left: 10pc
}

@media(max-width: 768px) {
    .top-banner-component .content-info.medium-marginLeft {
        margin-left:20px
    }
}

.top-banner-component .content-info.large-marginLeft {
    margin-left: 220px
}

@media(max-width: 768px) {
    .top-banner-component .content-info.large-marginLeft {
        margin-left:20px
    }
}

@media(max-width: 450px) {
    .top-banner-component .content-info {
        height:29em;
        margin: 0 auto 0 0;
        padding: 0
    }
}

@media(max-width: 500px) {
    .top-banner-component .content-info {
        height:16em
    }
}

.top-banner-component .content-info .rich-text p {
    font-family: "888-Orbit",arial,verdana,sans-serif;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0
}

.top-banner-component .content-info .rich-text span.m-text-rich-text {
    font-size: 25px;
    font-weight: 400
}

@media(max-width: 1480px) {
    .top-banner-component .content-info .rich-text span.m-text-rich-text {
        font-size:21px
    }
}

@media(max-width: 419px) {
    .top-banner-component .content-info .rich-text span.m-text-rich-text {
        font-size:15px
    }
}

.top-banner-component .content-info .rich-text span.l-text-rich-text {
    font-size: 33px;
    font-weight: 400
}

@media(max-width: 1480px) {
    .top-banner-component .content-info .rich-text span.l-text-rich-text {
        font-size:28px
    }
}

@media(max-width: 419px) {
    .top-banner-component .content-info .rich-text span.l-text-rich-text {
        font-size:19px
    }
}

.top-banner-component .content-info .rich-text span.xl-text-rich-text {
    font-size: 38px;
    font-weight: 900
}

@media(max-width: 1480px) {
    .top-banner-component .content-info .rich-text span.xl-text-rich-text {
        font-size:34px
    }
}

@media(max-width: 419px) {
    .top-banner-component .content-info .rich-text span.xl-text-rich-text {
        font-size:30px
    }
}

.top-banner-component .content-info .rich-text span.xxl-text-rich-text {
    font-size: 45px;
    font-weight: 900
}

@media(max-width: 1480px) {
    .top-banner-component .content-info .rich-text span.xxl-text-rich-text {
        font-size:40px
    }
}

@media(max-width: 419px) {
    .top-banner-component .content-info .rich-text span.xxl-text-rich-text {
        font-size:35px
    }
}

.top-banner-component .content-info .rich-text span.text-xs {
    font-size: min(1.1vw,1.6em)
}

.top-banner-component .content-info .rich-text span.text-s {
    font-size: min(1.5vw,2em)
}

.top-banner-component .content-info .rich-text span.text-m {
    font-size: min(1.75vw,2.5em)
}

.top-banner-component .content-info .rich-text span.text-l {
    font-size: min(2vw,4.5em)
}

.top-banner-component .content-info .rich-text span.text-xl {
    font-size: min(2.5vw,6em)
}

.top-banner-component .content-info .rich-text span.text-xxl {
    font-size: min(3.5vw,7em)
}

.top-banner-component .content-info .rich-text span.text-3xl {
    font-size: min(4.5vw,8em)
}

.top-banner-component .content-info .rich-text span.text-jumbo {
    font-size: min(6.5vw,9em)
}

@media only screen and (max-width: 1024px) {
    .top-banner-component .content-info .rich-text span.text-xs {
        font-size:1.75vw
    }

    .top-banner-component .content-info .rich-text span.text-s {
        font-size: 2vw
    }

    .top-banner-component .content-info .rich-text span.text-m {
        font-size: 2.5vw
    }

    .top-banner-component .content-info .rich-text span.text-l {
        font-size: 3vw
    }

    .top-banner-component .content-info .rich-text span.text-xl {
        font-size: 3.75vw
    }

    .top-banner-component .content-info .rich-text span.text-xxl {
        font-size: 5vw
    }

    .top-banner-component .content-info .rich-text span.text-3xl {
        font-size: 6vw
    }

    .top-banner-component .content-info .rich-text span.text-jumbo {
        font-size: 7vw
    }
}

@media only screen and (max-width: 768px) {
    .top-banner-component .content-info .rich-text span.text-xs {
        font-size:2vw
    }

    .top-banner-component .content-info .rich-text span.text-s {
        font-size: 2.5vw
    }

    .top-banner-component .content-info .rich-text span.text-m {
        font-size: 3vw
    }

    .top-banner-component .content-info .rich-text span.text-l {
        font-size: 4vw
    }

    .top-banner-component .content-info .rich-text span.text-xl {
        font-size: 5vw
    }

    .top-banner-component .content-info .rich-text span.text-xxl {
        font-size: 6vw
    }

    .top-banner-component .content-info .rich-text span.text-3xl {
        font-size: 7vw
    }

    .top-banner-component .content-info .rich-text span.text-jumbo {
        font-size: 8vw
    }
}

@media only screen and (max-width: 460px) {
    .top-banner-component .content-info .rich-text span.text-xs {
        font-size:3vw
    }

    .top-banner-component .content-info .rich-text span.text-s {
        font-size: 4vw
    }

    .top-banner-component .content-info .rich-text span.text-m {
        font-size: 5vw
    }

    .top-banner-component .content-info .rich-text span.text-l {
        font-size: 6vw
    }

    .top-banner-component .content-info .rich-text span.text-xl {
        font-size: 7vw
    }

    .top-banner-component .content-info .rich-text span.text-xxl {
        font-size: 8vw
    }

    .top-banner-component .content-info .rich-text span.text-3xl {
        font-size: 9vw
    }

    .top-banner-component .content-info .rich-text span.text-jumbo {
        font-size: 10vw
    }
}

@media only screen and (max-width: 375px) {
    .top-banner-component .content-info .rich-text span.text-xs {
        font-size:2.5vw
    }

    .top-banner-component .content-info .rich-text span.text-s {
        font-size: 3vw
    }

    .top-banner-component .content-info .rich-text span.text-m {
        font-size: 4vw
    }

    .top-banner-component .content-info .rich-text span.text-l {
        font-size: 5vw
    }

    .top-banner-component .content-info .rich-text span.text-xl {
        font-size: 6.5vw
    }

    .top-banner-component .content-info .rich-text span.text-xxl {
        font-size: 7.5vw
    }

    .top-banner-component .content-info .rich-text span.text-3xl {
        font-size: 8.5vw
    }

    .top-banner-component .content-info .rich-text span.text-jumbo {
        font-size: 9.5vw
    }
}

.top-banner-component .content-info .rich-text.display-mobile {
    display: none
}

@media(max-width: 500px) {
    .top-banner-component .content-info .rich-text.display-mobile {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: center
    }
}

.top-banner-component .content-info .rich-text.display-tablet {
    display: none
}

@media(min-width: 501px)and (max-width:1279px) {
    .top-banner-component .content-info .rich-text.display-tablet {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: center;
        width: 100%
    }
}

.top-banner-component .content-info .rich-text.display-pc {
    display: none;
    height: 100%;
    margin-top: 25px;
    width: 100%
}

@media(min-width: 1280px) {
    .top-banner-component .content-info .rich-text.display-pc {
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center
    }
}

.top-banner-component .content-info .top-banner-secondary-wrapper {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    width: 100%
}

@media(max-width: 501px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper {
        bottom:0;
        left: 0;
        margin-top: auto;
        padding-bottom: 1.5em;
        padding-left: 1em;
        padding-right: 1em;
        position: absolute;
        right: 0
    }
}

.top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper {
    align-items: center;
    display: flex;
    font-size: 10px
}

@media(max-width: 501px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper {
        flex:1 1 auto
    }
}

.top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .CTA_btns {
    width: fit-content
}

.top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .CTA_btns .cta-template a {
    font-size: 1.2em;
    min-width: 10em;
    padding: .85em 1em
}

@media(min-width: 421px)and (max-width:460px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .CTA_btns .cta-template a {
        font-size:1em;
        min-width: 12em;
        padding: 1.1em 1.2em
    }
}

@media(min-width: 768px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .CTA_btns .cta-template a {
        font-size:1.2em;
        padding: .65em .6em
    }
}

@media(min-width: 380px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .CTA_btns .cta-template a {
        font-size:1.2em;
        padding: .65em 1em
    }
}

.top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper a {
    text-decoration: none;
    width: max-content;
    width: -moz-available
}

.top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .see-more-bttn {
    background-color: #000;
    border: .25em solid #7df700;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 3.2em;
    margin-left: 1em;
    padding: 0 1em;
    position: relative;
    width: 3.2em
}

@media(min-width: 1025px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .see-more-bttn {
        height:3.5em;
        margin-left: 1em;
        padding: 0 1em;
        width: 3.5em
    }
}

@media(min-width: 640px)and (max-width:1025px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .see-more-bttn {
        height:3.2em;
        margin-left: 1em;
        width: 3.2em
    }
}

.top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .see-more-bttn:after {
    color: #7df700;
    content: "...";
    font-size: 2.8em;
    height: auto;
    left: 0;
    position: absolute;
    text-align: center;
    top: -19px;
    width: 100%
}

@media(max-width: 820px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .see-more-bttn:after {
        top:-16.5px
    }
}

@media(min-width: 1025px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .see-more-bttn:after {
        font-size:3.4em
    }
}

@media(min-width: 640px)and (max-width:1025px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .see-more-bttn:after {
        font-size:2.8em
    }
}

@media(min-width: 1025px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .see-more-bttn:hover {
        background-color:#7df700;
        border: .125em solid #000
    }

    .top-banner-component .content-info .top-banner-secondary-wrapper .buttons .buttons-wrapper .see-more-bttn:hover:after {
        color: #000
    }
}

.top-banner-component .content-info .top-banner-secondary-wrapper .buttons .promocode {
    display: block;
    display: inline-flex;
    font-family: "888-DemiBold",verdana,sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    width: 100%
}

.top-banner-component .content-info .top-banner-secondary-wrapper .buttons .promocode .promocode-link {
    margin-left: 6px
}

.top-banner-component .content-info .top-banner-secondary-wrapper .buttons .promocode .promocode-link.primary-color {
    color: #7cf700
}

.top-banner-component .content-info .top-banner-secondary-wrapper .buttons .promocode .promocode-link.white {
    color: #fff
}

@media(max-width: 639px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .buttons .promocode {
        align-self:flex-start
    }

    .top-banner-component .content-info .top-banner-secondary-wrapper .buttons .promocode .promocode-title {
        display: block
    }
}

.top-banner-component .content-info .top-banner-secondary-wrapper .buttons .promocode .promocode-link {
    text-decoration: underline
}

.top-banner-component .content-info .top-banner-secondary-wrapper .disclaimer {
    align-items: flex-end;
    align-self: end;
    display: flex;
    flex: 1;
    height: 100%;
    margin: 0 0 0 1em;
    max-width: 100%;
    position: relative;
    width: 100%
}

@media(max-width: 501px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .disclaimer {
        align-self:center;
        margin: 0
    }
}

@media(max-width: 639px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .disclaimer {
        padding:0 0 0 1em
    }
}

.top-banner-component .content-info .top-banner-secondary-wrapper .disclaimer p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1em;
    padding: .5em;
    width: fit-content
}

.top-banner-component .content-info .top-banner-secondary-wrapper .disclaimer p.condensed-font {
    font-family: "888ExtraCondensed",verdana,sans-serif;
    font-size: 10px;
    line-height: .9
}

@media(max-width: 639px) {
    .top-banner-component .content-info .top-banner-secondary-wrapper .disclaimer p {
        padding-left:1em
    }
}

.top-banner-component .content-info .top-banner-secondary-wrapper .disclaimer p span a {
    color: inherit
}

.top-banner-component .content-info .top-banner-secondary-wrapper .disclaimer p a {
    color: #fff;
    text-decoration: underline
}

.top-banner-component .content-info .top-banner-secondary-wrapper .disclaimer.dark p {
    background-color: #000
}

.top-banner-slider-container .disclaimer-container {
    bottom: 51px;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 110
}

.top-banner-slider-container .disclaimer-container .disclaimer {
    text-wrap: balance;
    align-items: center;
    align-self: end;
    display: flex;
    height: 100%;
    max-width: 100%;
    width: 100%
}

.top-banner-slider-container .disclaimer-container .disclaimer p {
    text-wrap: auto;
    background-color: hsla(51,87%,91%,.75);
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 0;
    padding: .5em;
    width: 100%
}

.top-banner-slider-container .disclaimer-container .disclaimer p a {
    color: inherit;
    text-decoration: none
}

.top-banner-slider-container .disclaimer-container .disclaimer.dark p {
    background-color: #000
}

.top-banner-slider-component .top-banner-slider-container {
    margin-bottom: 20px;
    min-height: 13.938rem;
    position: relative
}

.top-banner-slider-component .top-banner-slider-container .swiper,.top-banner-slider-component .top-banner-slider-container .swiper .swiper-wrapper {
    width: 100%
}

.top-banner-slider-component .top-banner-slider-container .swiper .swiper-wrapper .swiper-slide {
    position: relative;
    width: 100%
}

.top-banner-slider-component .top-banner-slider-container .swiper .swiper-buttons {
    visibility: hidden;
    z-index: 100
}

@media(max-width: 1024px) {
    .top-banner-slider-component .top-banner-slider-container .swiper .swiper-buttons {
        display:none
    }
}

.top-banner-slider-component .top-banner-slider-container .swiper .swiper-buttons>div {
    color: #fff;
    top: unset
}

.top-banner-slider-component .top-banner-slider-container .swiper .swiper-buttons>div:after {
    content: ""
}

.top-banner-slider-component .top-banner-slider-container .swiper .swiper-buttons span {
    align-items: center;
    border: .2rem solid #fff;
    border-radius: 100%;
    bottom: 4rem;
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    height: 4rem;
    justify-content: center;
    position: absolute;
    width: 4rem
}

.top-banner-slider-component .top-banner-slider-container .swiper .swiper-buttons span svg {
    height: unset;
    width: unset
}

.top-banner-slider-component .top-banner-slider-container .swiper .swiper-buttons span:hover {
    background-color: rgba(0,0,0,.5)
}

.top-banner-slider-component .top-banner-slider-container .swiper .swiper-buttons span.prev {
    left: .2rem
}

.top-banner-slider-component .top-banner-slider-container .swiper .swiper-buttons span.next {
    right: .2rem
}

.top-banner-slider-component .top-banner-slider-container .swiper-pagination {
    align-items: center;
    background-color: transparent;
    border-radius: 1rem;
    bottom: -20px;
    display: flex;
    justify-content: center;
    left: 0;
    margin: 0 auto;
    padding: .4rem;
    position: absolute;
    right: 0;
    text-align: center;
    width: fit-content;
    z-index: 100
}

@media(min-width: 640px) {
    .top-banner-slider-component .top-banner-slider-container .swiper-pagination {
        margin-bottom:0
    }
}

.top-banner-slider-component .top-banner-slider-container .swiper-pagination .swiper-pagination-bullet {
    --swiper-pagination-bullet-size: 0.8rem;
    background: hsla(0,0%,100%,.8);
    opacity: 1
}

@media(max-width: 768px) {
    .top-banner-slider-component .top-banner-slider-container .swiper-pagination .swiper-pagination-bullet {
        --swiper-pagination-bullet-size:0.5rem
    }
}

.top-banner-slider-component .top-banner-slider-container .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #7ff800
}

.top-banner-slider-component:hover .top-banner-slider-container .swiper .swiper-buttons {
    visibility: visible
}

.display-casino-mobile {
    display: block;
    height: 200px;
    object-position: center;
    width: 100%;
    object-fit: cover;
}