.v-enter-active,
.v-leave-active {
    transition: opacity .5s ease
}

.v-enter-from,
.v-leave-to {
    opacity: 0
}

.tournaments-next,
.tournaments-prev {
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 20px;
    position: absolute;
    top: 12px;
    width: 20px;
    z-index: 10
}

.tournaments-next {
    background-image: url(https://s3.amazonaws.com/jelvenezuela/img/casino/left-arrow-right-hi.png) !important;
    left: auto;
    right: 2px
}

.tournaments-prev {
    background-image: url(https://s3.amazonaws.com/jelvenezuela/img/casino/left-arrow-left-hi.png) !important;
    left: 2px;
    right: auto
}

header .header-events .careerHeader .contentCareer .topScore {
    font-size: 13px;
    list-style: decimal;
    margin: 0;
    padding: 4px;
    text-align: left
}

.p-datatable .p-datatable-thead>tr>th {
    color: #c4c4c4 !important;
    padding: 1rem
}

.p-datatable .p-datatable-thead>tr>td,
.p-datatable .p-datatable-thead>tr>th {
    background: transparent !important;
    border: solid #323747 !important;
    border-width: 0 0 1px !important;
    text-align: center !important
}

.p-datatable .p-datatable-tbody>tr>td {
    background: transparent !important;
    border: solid #323747 !important;
    border-width: 0 0 1px !important;
    padding: 1rem
}

.p-column-header-content {
    text-align: center
}

.p-paginator {
    background: transparent !important
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight,
.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    background: #323747;
    border-color: #323747;
    color: #fdfdfd
}

.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover {
    background: transparent;
    border-color: transparent;
    color: #fdfdfd
}

.p-datatable,
.p-datatable .p-datatable-table,
.p-datatable .p-datatable-wrapper {
    background: transparent
}

.positive {
    color: #0f0
}

.negative {
    color: red
}

.pending {
    color: #ff0
}

.avatar-container {
    position: relative
}

.user-level-badge {
    background: linear-gradient(135deg, #667eea, #764ba2);
    border: 1.5px solid hsla(0, 0%, 100%, .3);
    border-radius: 8px;
    bottom: -6px;
    box-shadow: 0 2px 6px #00000080;
    color: #fff;
    font-size: 8px;
    font-weight: 700;
    left: 50%;
    line-height: 1.4;
    padding: 1px 6px;
    position: absolute;
    transform: translate(-50%);
    white-space: nowrap;
    z-index: 10
}

.modal-payments .modal-content {
    background: #1e2230;
    border: 1px solid #323747;
    border-radius: 8px
}

.modal-payments .modal-header {
    border-bottom: 1px solid #323747;
    padding: 1rem
}

.modal-payments .modal-header .modal-title {
    align-items: center;
    color: #fdfdfd;
    display: flex;
    margin: 0
}

.modal-payments .modal-header .modal-title .i-title {
    align-items: center;
    background: #323747;
    border-radius: 4px;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-right: 10px;
    width: 30px
}

.modal-payments .modal-header .modal-title .text-title span {
    color: #c4c4c4;
    display: block;
    font-size: 12px
}

.modal-payments .modal-header .btn-close {
    background: transparent;
    border: none;
    color: #fdfdfd;
    opacity: 1
}

.modal-payments .modal-body {
    color: #fdfdfd;
    padding: 1rem
}

.modal-payments .modal-body .no-data {
    color: #c4c4c4;
    padding: 2rem;
    text-align: center
}

.button-support {
    display: inline-flex;
    height: 30px;
    background: linear-gradient(0deg, #fde500ff 0%, rgb(253, 202, 0) 100%);
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    min-width: 30px;
    border: none;
    cursor: pointer;
    color: #f2008d;
    border-radius: 5px;
    padding: 0px;
    margin-right: 5px;
}

.button-support>img {
    width: 28px;
}

.apigames-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    margin: 0 auto;
    background: rgb(46 39 0 / 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9991;
    font-family: "principal", Arial, sans-serif;
    color: #FFF;
    font-size: 13px;
}

.apigames-popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.apigames-popup .apigames-popup-content {
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #020711;
    max-height: calc(100vh - 32px);
    height: auto;
    max-width: 550px;
    min-width: 550px;
    min-height: 180px;
    border-radius: 20px;
    overflow: auto;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
}

@media (max-width: 560px) {
    .apigames-popup .apigames-popup-content {
        max-width: calc(100% - 20px);
        max-height: calc(100% - 20px);
        min-width: calc(100% - 20px);
        width: 100%;
        max-height: -webkit-fill-available;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.apigames-popup .apigames-popup-content-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
}

.apigames-popup .apigames-popup-content-header .close {
    width: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 15px;
    top: 15px;
    color: #ffffff;
    cursor: pointer;
}

.apigames-popup .apigames-popup-content-header .close>svg {
    fill: currentcolor;
    color: white;
}

.apigames-pl20 {
    padding-left: 20px;
}

.apigames-pr20 {
    padding-right: 20px;
}

.apigames-pb20 {
    padding-bottom: 20px;
}

.gradient-title {
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    flex-direction: row;
    min-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: 700;
    display: flex;
}

.gradient-title-lateral {
    align-items: center;
    width: 100%;
    display: flex;
    margin: 7px;
}

.gradient-title-left>div {
    background: linear-gradient(270deg, rgb(255, 255, 255), rgba(0, 0, 0, 0) 80%);
}

.gradient-title-right>div {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(0, 0, 0, 0) 80%);
}

.gradient-title-lateral>div {
    width: 100%;
    height: 5px;
}

.gradient-title-no-wrap {
    text-wrap: nowrap;
}

.modal-content-support-network {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.modal-content-support-network>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.btn-copy {
    padding-block: 1px;
    padding-inline: 6px;
    display: inline-flex;
    height: 30px;
    background: linear-gradient(0deg, rgb(152, 152, 152), white);
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 5px;
}

.modal-content-support-network img {
    width: 20px;
    margin-right: 10px;
}

.btn-support-close {
    text-transform: uppercase;
    cursor: pointer;
    min-width: 100px;
    height: 30px;
    background: linear-gradient(0deg, #fde500ff 0%, rgb(253, 202, 0) 100%);
    justify-content: center;
    align-items: center;
    font-weight: 700;
    display: inline-flex;
    border-radius: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
    color: #000;
}

.full-width {
    width: 100%;
}

.margin-top-3em {
    margin-top: 3rem;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    max-width: 80vw;
    width: 80vw;
    font-size: 12px;
    font-family: "principal", Arial, sans-serif;
}

.alert-success {
    color: #1d4e10;
    background-color: #c3ffd8;
    border-color: #46be39;
}

#success-alert,
#error-alert {
    display: none;
    z-index: 9999;
    right: 0;
    margin: 60px 0 0;
    border-radius: .4rem !important;
    position: fixed;
    top: 30px;
    left: 10vw;
}

@media (max-width: 768px) {

    #success-alert,
    #error-alert {
        margin: 0;
    }
}

.game-iframe-view_gameIframeWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 1500px;
    margin: 0 auto
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper {
        background-color: #000217;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100000
    }
}

.game-iframe-view_gameIframeWrapper.game-iframe-view_default {
    aspect-ratio: 1125/635;
    max-width: 1125px
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper.game-iframe-view_default {
        aspect-ratio: inherit;
        max-width: inherit
    }
}

.game-iframe-view_gameIframeWrapper.game-iframe-view_tvbet {
    max-width: 1500px;
    aspect-ratio: 1500/847
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper.game-iframe-view_tvbet {
        max-width: inherit;
        aspect-ratio: inherit;
        height: 100% !important;
        min-height: 100% !important
    }
}

.game-iframe-view_gameIframeWrapper.game-iframe-view_sportbook {
    height: calc(100vh - 49px) !important;
    min-height: 100%;
    max-width: 100%;
    height: 100%
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper.game-iframe-view_sportbook {
        top: 45px;
        z-index: 999;
        height: 100% !important
    }

    .game-iframe-view_gameIframeWrapper.game-iframe-view_sportbook>.game-iframe-view_gameIframe {
        height: calc(100% - 45px)
    }
}

.game-iframe-view_gameIframe {
    width: 100%;
    height: 100%;
    z-index: 0
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframe {
        min-height: auto !important
    }

    .game-iframe-view_gameIframe.game-iframe-view_sportbook {
        height: calc(100% - 50px)
    }
}

.dropdown-menu li .dropdown-item {
    cursor: pointer;
}